<html>
  
    
    <body>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        
          <a style='color:red;' href='/home?user_email={{user_email}}'><i class="Down">↓</i></a>
      </div>
        <div class="text">
          <h1>Add Products first </h1> 
          <p> Press  ↓  Go to Home page;<br/> *ᵗᑋᵃᐢᵏ ᵞᵒᵘ* </p>
        </div>
      </div>
    </body>
</html>