<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <h1> Eretail shop </h1>
        <h2>Hello Ravi! <b/>Enter your email & Password</h2>
    </head>
    <body>
        <form action="http://localhost:5000/clint" method="POST">
            
            <label>Email:</label>
            <input type="email"  name="email" placeholder="email"/>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Password"/>

            <button type="submit">Submit</button>
        </form>
        
    </body>
</html>