<html>
  
    <body>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <a style='color:red;' href='/home?user_email={{user_email}}'><i class="checkmark">✓</i></a>
      </div>
        <h1>Order Successfully</h1> 
        <p>We Deliver your purchase Product as soon;</p>
        <p> Click  ✓  Go to Home page;<br/> *ᵗᑋᵃᐢᵏ ᵞᵒᵘ* </p>
        <!-- <a style='color:red;' href='/order_history?user_email={{user_email}}'> Order history</a> -->
      </div>
    </body>
</html>